body{
  background-color: rgb(255, 255, 255);
}

/*
.it{
    margin: 0 auto;
    margin: 2em;
    
    width: 80px;
    height: 80px;
    background: skyblue;
}
.mp{
    margin: 0 auto;
    margin: 2em;

    width: 80px;
    height: 80px;
    background: red;

}
.st{
    margin: 0 auto;
    margin: 2em;

    width: 80px;
    height: 80px;
    background: orange


 }
 */

 #header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    text-align: center;
}
.it,.mp, .st {
  display: inline-block;
  width: 50vw;
  height: 25vh;
  word-break: break-word;
  margin: 1px;
  
  top: 0; left: 0; bottom: 0; right: 0;
  border: solid black;
}
.container {
  text-align: center;
  position: relative;
  height: 100%;
}

.info{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.klasse{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3vh;
}